.calendar-wrapper {
    display: flex;
    background: linear-gradient(90deg, rgba(20,136,204,1) 40%, rgba(38,44,154,1) 100%);
    justify-content: center;
}
.calendar-icon{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    user-select: none;
}
.calendar-icon:hover{
    background-color: #dfdfdf;
    cursor: pointer;
}
#calendar {
    width: 1200px;
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 12px;
    box-shadow: 2px 4px 10px #2a2a2acc;
}

.calendar--active {
    border: 0.5px solid rgb(29, 62, 247) !important;
    box-shadow: inset 0 0 6px rgb(29, 62, 247);
}

.calendar--inactive {
    background-color: #d4d4d4;
    opacity: 0.3;
}

.calendar-header {
    color: #043c95;
    align-items: center;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.calendar-control {
    text-align: center;
    padding: 4px;
}

.calendar-currDate {
    font-size: 18px;
    text-align: center;
    align-items: center;
    padding: 4px;
    width: 160px;
    margin: 0;
}

.calendar-body {
    margin-left: 20px;

}

.calendar-days,
.calendar-weeks {
    margin: 0;
    padding-left: 0;
}

#calendar li {
    list-style: none;
    width: 160px;
    text-align: center;
}

/* weeks */
.calendar-weeks {
    width: fit-content;
    border-top: 3px solid #00576f;
    height: 30px;
    margin-top: 4px;
}

.calendar-weeks li {
    padding-right: 2px;
    background: rgb(17, 91, 186);
    ;
    color: #fff;
    font-weight: 600;
    line-height: 30px;
    font-size: 16px;
}

#calendar ul {
    display: flex;
    flex-wrap: wrap;
}
.calendar-days{
    margin-bottom: 120px;
}
.calendar-days li {
    height: 190px;
    border: 1px solid #b6b6b6;
}

.calendar-day {
    display: flex;
    justify-content: end;   
}
.calendar-days-wrapper {
    overflow-y: scroll; 
    height: 300px;
    padding-bottom: 12px;
}
.calendar-day span {
    color: rgb(4, 60, 133);
    ;
    font-size: 16px;
    margin: 4px;
    font-weight: 600;
}

.calendar-activities {
    font-size: 16px;
    margin: 0 6px;
}

.calendar-activity span {
    border-radius: 50%;
    ;
    width: 20px;
    height: 20px;
    display: block;
    border: 2px solid rgb(214, 214, 214);
    color: #fff;
    line-height: 20px;
    font-size: 12px;
}

.calendar-activity {
    align-items: center;
    display: flex;
    padding: 4px 0;
    margin: 4px 0;
}

.calendar-activity-hard span {
    background: #b31d47;
}

.calendar-activity-soft span {
    background-color: #0385A8;
}

.calendar-activity-active span {
    background-color: #03A829;
}

.calendar-activity-passive span {
    background-color: #696666;
}

.calendar-activity-hard div {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(203, 7, 63, 0.60) 80%);
}

.calendar-activity-soft div {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(3, 133, 168, 1) 80%);
}

.calendar-activity-active div {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(3, 168, 41, 1) 80%);
}

.calendar-activity-passive div {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(105, 102, 102, 1) 80%);
}

.calendar-activity-qty {
    margin-left: 12px;
    color: #000;
    height: 22px;
    line-height: 20px;
    flex: 1;
    justify-content: start;
    display: flex;
}

::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
